<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ SITENAME }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
  </head>

  <body>
    <div id="wrap" style="width:850px">
      
      <div id="container" style="width:560px">
	<div class="entry">
          {% block content %}
          {% endblock %}
        </div>
      </div>


      <div id="sidebar">
        <h1><a href="{{ HOME }} " title="title">{{ SITENAME }}</a></h1>
        <span class="description">{{ DESCRIPTION }} </span>
      </div>

      <div id="sidebar">
	<ul>
	  {% for name, url in SOCIAL %}
	  <li><a href="{{ url }}" target="_blank">{{ name }}</a></li>
	  {% endfor %}
	</ul>
      </div>
      
    </div>
  </body>
</html>
