{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}        
{% if articles %}
{% for item in articles %}
<p id="article-list">
  <a href="{{ SITEURL }}/{{ item.url }}" rel="bookmark" title="Permalink to {{ item.title}}"><h2>{# {{ SITENAME }} #} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %} {#:#} {{ item.title }}</h2></a>
  <time datetime="{{ item.date.isoformat() }}">{{ item.locale_date }}</time>
  <p>{{ item.summary }}</p>
</p>
    {% endfor %}
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
