{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}        
{% if articles %}
{% for article in articles%}
<p id="article-list">
  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}"><h2>{# {{ SITENAME }} #} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %} {#:#} {{ article.title }}</h2></a>
  <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
  <p>{{ article.summary }}</p>
</p>
    {% endfor %}
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
