@import "utils/normalize.scss";
@import "utils/base_structure.scss";

img#profile_pic {
   border: $img-border-color;
   border-style: solid;
   border-width: 4px;
   border-radius: 50%;
   height: 200px;
   width: 200px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

img.social_logo {
   height: 20px;
   width: 20px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

em#caption {
   font-size: x-small;
}