@import "utils/normalize.scss";
@import "utils/base_structure.scss";

ul {
    display:block;
    text-align: center;
    li {
        text-align: center;
        list-style: none;
    }
}

article {
    color: $paragraph-color;
    font-size: large;
    text-align: center;
}